.header_wrapper {
  width: 100%;
}
.navbar {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 25px;
  text-transform: uppercase;
  color: skyblue;
}
.below-header {
  padding: 40px;
  background-color: tomato;
}
.main-wrapper {
  width: 100%;
  background-color: rgb(250, 250, 250);
}
.main {
  padding-top: 25px;
  width: 80%;
  margin: auto;
  display: flex;
}
